# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode — user-specific
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods — regenerate with `pod install`
Pods/

# Accio dependency manager
Dependencies/
.accio/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# App packaging
*.app
